/A.class
/Abc.class
/Already.class
/AnonymousDemo$1.class
/AnonymousDemo.class
/AnonymousInterface$1.class
/AnonymousInterface.class
/DefaultMethod.class
/Dem.class
/Demo.class
/DemoImp.class
/I.class
/InterfaceDemo.class
/Lambda.class
/MyDemo.class
/Pen.class
/Pencil.class
/Pouch.class
/Showing.class
/StaticMethod.class
